<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="UTF-8">
		<title>工事中だよ</title>
		<link rel="shortcut icon" href="../images/favicon.ico">
	</head>

	<body style="text-align: center; padding-top: 2em">
        <p>
            <span style="font-size: 5em; font-weight: bold">まだ準備中だよ</span><br>
            <span style="font-size: 2em">Work In Progress</span>
        </p>
	</body>
</html>