- var buttonData = [["about", "About"], ["skills", "Skills"], ["works", "Works"], ["history", "History"], ["favorites", "Favorites"], ["links", "Links"], ["contact", "Contact"]]

doctype html
html(lang="ja")
  head
    meta(charset="UTF-8")
    title タカラーンの基地
    link(rel="shortcut icon" href="resource/favicon.ico")
    link(rel="stylesheet" href="dist/style.css")

  body
    div#profile
      h1#mainname
        span#nickname タカラーン
        span#idname @takara2314
      p#job 気まぐれで生きている高専2年生

    nav
      #curve
      #square
        #navMessage 下の項目から選んでください
        #buttons
          - for (var i = 0; i < buttonData.length; i++)
            div
              a(href="/"+buttonData[i][0])
                img(src="resources/hoge.png" height="80px")
                br
                | #{buttonData[i][1]}
        #copyright
          small &copy; 2020 Takara Hamaguchi