doctype html
html(lang="ja")
  head
    meta(charset="UTF-8")
    title 工事中だよ
    link(rel="shortcut icon" href="resources/favicon.ico")
    link(rel="stylesheet", href="dist/app.css")

  body(style="text-align: center; padding-top: 2em")
    p
      span.bold2em まだ準備中だよ
      br
      | Work In Progress

    p
      span.normal08em
        a(href="https://twitter.com/takara2314") Twitter