- var buttonData = [["about", "skills", "works", "history", "favorite", "links", "contact"], ["About", "Skills", "Works", "History", "Favorite", "Links", "Contact"]]

doctype html
html(lang="ja")
  head
    meta(charset="UTF-8")
    title タカラーンの基地
    link(rel="shortcut icon" href="resource/favicon.ico")
    link(rel="stylesheet" href="dist/style.css")

  body
    div#profile
      h1#mainname
        span#nickname タカラーン
        span#idname @takara2314
      p#job 気まぐれで生きている高専2年生

    nav
      div#navMessage
      | 下の項目から選んでください
      div#buttons
        ul
          - for (var i = 0; i < buttonData[0].length; i++)
            li
              a(href="/"+buttonData[0][i]) #{buttonData[1][i]}