include head.pug

doctype html
html(lang="ja")
  +config("タカラーンの基地")

  body
    div#profile
      h1#name
        span#nickname タカラーン
        span#idname @takara2314
      p#job 気まぐれで生きている高専2年生

    include nav.pug