body {
    font-size: 2em;
    padding-top: 2em;
    text-align: center;

    span.bold2em {
        font-size: 2em;
        font-weight: bold;
    }

    span.normal08em {
        font-size: 0.8em;
    }
}