@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Lato, 'Noto Sans JP', Meiryo, sans-serif;
    font-size: 1.5em;
    background-color: DeepSkyBlue;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

div#profile {
    h1#mainname {
        font-family: 'Lexend Deca', 'Noto Sans JP', Meiryo, sans-serif;
        font-size: 1.5em;

        span#nickname {
            font-weight: bold;
            padding-right: 2em;
        }

        span#idname {
            color: rgba(0, 0, 0, 0.5);
            font-weight: normal;
        }
    }

    p#job {
        font-size: 0.8em;
    }
}

nav {
    font-family: 'Lexend Deca', 'Noto Sans JP', Meiryo, sans-serif;
    padding: 0 1.5em 1.5em 1.5em;
    height: calc((100vh * 3) / 16);
    text-align: center;
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;

    div#curve {
        background-color: white;
        border-radius: 50%;
        height: calc(100vw * 9);
        width: calc(100vw * 9);
        position: fixed;
        left: calc((100vw / 2) * -8);
        top: calc((100vh * 3) / 4);
    }

    div#square {
        position: relative;
        display: flex;
        flex-direction:column;
        align-items: center;
        div#navMessage {
            padding-bottom: 0.3em;
        }
        div#buttons {
            width: 40em;
            display: flex;
            justify-content: space-between;
            div {
                a {
                    color: black;
                    text-decoration: none;
                }
            }
        }

        div#copyright {
            color: gray;
            font-size: 0.8em;
            text-align: right;
            width: 100%;
        }
    }
}
