@import url('https://fonts.googleapis.com/css2?family=Hind+Guntur:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap');
@font-face {
	font-family: 'Boku2';
	src: url("../fonts/Boku2-Bold.otf");
}
@font-face {
	font-family: 'Makinas';
	src: url('../fonts/Makinas-4-Square.otf')
}

@keyframes fadeIn {
	from {
		opacity:0;
	}
	to {
		opacity:1;
	}
}

body {
	font-size: 2vw;
	font-family: 'Hind Guntur', 'Noto Sans JP', Meiryo, sans-serif;
	background-color: whitesmoke;
	text-align: center;
	margin: 0;
}

::selection {
	background-color: rgba(0, 190, 240, 0.5);
	color: #000000;
}

header {
	display: flex;
	position: fixed;
	height: 7.5vh;
	width: calc(100% - 10vw);
	margin: 2vh 5vw;
	z-index: 3;
	background-color: white;
	border-radius: 4.75vh;
	justify-content: center;
	align-items: center;
	box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.3);
	overflow: hidden;
}
header div.logo {
	color: rgb(22, 65, 9);
	font-size: 3vw;
	font-family: Makinas, Meiryo, sans-serif;
	font-weight: bold;
	display: flex;
	justify-content: start;
	align-items: center;
	flex-basis: 40%;
}
header div.logo a {
	color: green;
	text-decoration: none;
}
header div.menu {
	color: black;
	font-size: 2vw;
	font-family: Boku2, Meiryo, sans-serif;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-basis: 50%;
}
header div.menu ul {
	list-style: none;
	width: 100%;
    justify-content: space-between;
	display: flex;
	align-items: center;
	padding: 0;
	margin: 0;
}
header div.menu ul li a {
	color: dimgray;
	text-decoration: none;
	display: flex;
	align-items: center;
	height: 7vh;
	width: 100%;
	border-bottom: solid 0.5vh white;
}
header div.menu ul li.selfintro a:hover {
	color: black;
	border-bottom: solid 0.5vh limegreen;
}
header div.menu ul li.portfolio a:hover {
	color: black;
	border-bottom: solid 0.5vh gold;
}
header div.menu ul li.blog a:hover {
	color: black;
	border-bottom: solid 0.5vh dodgerblue;
}
header div.menu ul li.contact a:hover {
	color: black;
	border-bottom: solid 0.5vh orangered;
}

section.profile {
	height: 100vh;
	padding-top: 10vh;
	background-color: whitesmoke;
	overflow: hidden;
	position: relative;
	font-size: 2vw;
}
section.profile div.mainBackground1 {
	background-image: url("../images/wave.svg");
	background-repeat: no-repeat;
	background-size: 150%;
	transform: rotate(25deg);
	height: 300vh;
	width: 300vw;
	z-index: 1;
	position: absolute;
	left: -92.5vw;
	bottom: -182.5vh;
	pointer-events: none;
}
section.profile div.mainBackground2 {
	background-color: rgb(0, 203, 169);
	margin-top: 30%;
	height: 100%;
	width: 100%;
}
section.profile div.mainBackground3 {
	background-image: url("../images/topPageTakaran.webp");
	background-repeat: no-repeat;
	background-size: 40%;
	position: absolute;
	height: 100vh;
	width: 100vw;
	z-index: 2;
	left: -5vw;
	bottom: -13vh;
	pointer-events: none;
}
section.profile div.contents {
	text-align: left;
	padding-left: 32vw;
}
section.profile div.contents h1 {
	margin: 5.75vw 0 0 0;
	font-size: 5vw;
	line-height: 175%;
}
section.profile div.contents h1 span.mainName {
	font-size: 5vw;
	font-size: 5vw;
	line-height: 175%;
}
section.profile div.contents h1 span.idName {
	font-size: 3.5vw;
	color: gray;
	margin-left: 2vw;
}
section.profile div.contents ul {
	list-style: none;
	display: flex;
	justify-content: space-between;
	width: 60%;
	padding: 0;
	margin: 0;
}
section.profile div.contents ul li a {
	color: rgb(27, 149, 224);
	text-decoration: none;
}

section div.contents h1 {
	margin: 5vw 0 0 0;
	font-size: 5vw;
	line-height: 75%;
}

section.skill {
	height: 100vh;
	padding-top: 8vh;
	background-color: rgb(181, 234, 144);
	overflow: hidden;
}
section.skill div.contents div.container {
	display: flex;
	flex-direction: row;
	width: calc(100% - 10vw);
	height: 65vh;
	margin: 0 5vw;
	border-radius: 0.75vw;
	background-color: whitesmoke;
}
section.skill div.contents div.container section div span.containerName {
	color: gray;
}
section.skill div.contents div.container section div ul {
	/* background-color: red; */
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	margin: -1.5vh 0 0 0;
}
section.skill div.contents div.container section div ul li div.skillBox {
	margin-top: 0;
	width: 10vw;
}
section.skill div.contents div.container section div ul li div.skillBox span.skillName {
	font-size: 1.5vw;
}
section.skill div.contents div.container section.prograLangsSection {
	flex-basis: 50%;
	overflow: hidden;
}
section.skill div.contents div.container section.prograLangsSection div.prograLangs {
	height: 100%;
	align-content: space-around;
	overflow: hidden;
}
section.skill div.contents div.container section.prograLangsSection div.prograLangs ul {
	list-style: none;
	display: flex;
}
section.skill div.contents div.container section.othersSection {
	flex-basis: 50%;
	overflow: hidden;
}
section.skill div.contents div.container section.othersSection div.prograFWs {
	height: 33%;
	align-content: space-around;
	overflow: hidden;
}
section.skill div.contents div.container section.othersSection div.markupLangs {
	height: 33%;
	align-content: space-around;
	overflow: hidden;
}
section.skill div.contents div.container section.othersSection div.tools {
	height: 33%;
	align-content: space-around;
	overflow: hidden;
}
section.skill div.contents div.container section div ul li div div.GoLogo {
	background-image: url("../images/GoLogo.svg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 80%;
	width: 10vw;
	height: 10vh;
}
section.skill div.contents div.container section div ul li div div.PythonLogo {
	background-image: url("../images/PythonLogo.svg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 47.5%;
	width: 10vw;
	height: 10vh;
}
section.skill div.contents div.container section div ul li div div.CsharpLogo {
	background-image: url("../images/CsharpLogo.svg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 47.5%;
	width: 10vw;
	height: 10vh;
}
section.skill div.contents div.container section div ul li div div.DartLogo {
	background-image: url("../images/DartLogo.svg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 47.5%;
	width: 10vw;
	height: 10vh;
}
section.skill div.contents div.container section div ul li div div.JavaScriptLogo {
	background-image: url("../images/JavaScriptLogo.svg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 47.5%;
	width: 10vw;
	height: 10vh;
}
section.skill div.contents div.container section div ul li div div.PostgreSQLLogo {
	background-image: url("../images/PostgreSQLLogo.svg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 45%;
	width: 10vw;
	height: 10vh;
}
section.skill div.contents div.container section div ul li div div.FlaskLogo {
	background-image: url("../images/FlaskLogo.svg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 34%;
	width: 10vw;
	height: 10vh;
}
section.skill div.contents div.container section div ul li div div.WPFLogo {
	background-image: url("../images/WPFLogo.svg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 47.5%;
	width: 10vw;
	height: 10vh;
}
section.skill div.contents div.container section div ul li div div.FlutterLogo {
	background-image: url("../images/FlutterLogo.svg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 37.5%;
	width: 10vw;
	height: 10vh;
}
section.skill div.contents div.container section div ul li div div.HTMLLogo {
	background-image: url("../images/HTMLLogo.svg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 32.5%;
	width: 10vw;
	height: 10vh;
}
section.skill div.contents div.container section div ul li div div.CSSLogo {
	background-image: url("../images/CSSLogo.svg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 32.5%;
	width: 10vw;
	height: 10vh;
}
section.skill div.contents div.container section div ul li div div.MineImatorLogo {
	background-image: url("../images/Mine-imatorLogo.svg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 47.5%;
	width: 10vw;
	height: 10vh;
}

section.history {
	height: 100vh;
	padding-top: 8vh;
	background-color: whitesmoke;
	overflow: hidden;
}

section.favorite {
	height: 100vh;
	padding-top: 8vh;
	background-color: rgb(181, 234, 144);
	overflow: hidden;
}

section.link {
	height: 100vh;
	padding-top: 8vh;
	background-color: whitesmoke;
	overflow: hidden;
}

section.seheki {
	height: 100vh;
	padding-top: 8vh;
	background-color: rgb(181, 234, 144);
	overflow: hidden;
}

footer {
	color: white;
	background-color: rgb(22, 65, 9);
	padding: 1.75vh 30vw 1vh 0;
	font-size: 1.75vw;
	font-family: 'Hind Guntur', 'Noto Sans JP', Meiryo, sans-serif;
	text-align: right;
}